# ========================
# ENV FILES (CRITICAL)
# ========================
.env
frontend/.env
backend/.env
backend/data/policy_manual.pdf

# ========================
# PYTHON (Backend)
# ========================
backend/venv/
backend/__pycache__/
backend/*.pyc

# ========================
# DATABASE
# ========================
*.db
*.sqlite3

# ========================
# LOGS
# ========================
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/